.logo{
	background-color: #ff4d00;
	width:101%;
	height: 78px;
}
.mirgin{
    width: 649px;
    margin-left: -20px;
}
.width{
    padding-top: 23px;
    margin-left: 554px;
}
.button{
	margin-left: -339px;
}
.kol{
	padding-top: 15px;

}