.logo{
	background-color: #ff4d00;
	width: 101%;
	height: 10%;
}
.button{
 padding-top: 155px;
 width: 80%;
}
.wir{
	margin-right: 200px;
}
.col-md-3{
	    margin-left: -15px;
}
.margin0{
	margin-left: 448px;
    margin-top: 19px;
}
.margin{
	margin-left: -67px;
}
.margin1{
	margin-left: 49px;
}
.margin2{
	margin-left: 169px;

}
.new{

}
.width{
	padding-top: 21px;

}
.width3{
padding-top: 14px;
}
.width1{
margin-left: -137px;
	padding-top: 21px;
}
.margin2{
	margin-left: 89px;
}
.pad{
	padding-top: 17px;
margin-left: -190px;
}