.logo{
	background-color: #ff4d00;
	width: 1381px;
	height: 78px;
}
.header{
	background-color:#fff;
	width: 1381px;
	height: 657px;
}
.type{
	margin-right:1000px; 
}
.end{
	background-color: #59351f;
	width: 1381px;
	height: 200px;
}